<div class="container bg-oscuro bg-opacity-75 border-oscuro border-2 mx-auto  flex  flex-col  m-2 p-8  w-2/4
  sm:min-w-full md:min-w-full xl:min-w-0 lg:min-w-0 min-w-full">


  <h2 class="text-center text-lg font-extrabold">Inicio de Sesión</h2>

  <div @enterLeave class="alert" *ngIf="errorResponse">
    {{errorResponse}}
  </div>

  <div @enterLeave class="alert" *ngIf="form.status === 'INVALID' && (!email.pristine || !password.pristine)">
    <div *ngIf="email.errors?.email">Agrega un email válido</div>
    <div *ngIf="email.errors?.required">Email requerido</div>
    <div *ngIf="password.errors?.required">Password requerido</div>
  </div>


  <form [formGroup]="form">

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-input" type="text" id="email" formControlName="email"
             placeholder="Ingrese su email"
      >

    </div>


    <div class="form-group">
      <label for="password">Contraseña</label>
      <rek-password id="password" formControlName="password" ></rek-password>
    </div>

    <button class="btn btn-naranjete" (click)="login()" [disabled]="!form.valid">
      Iniciar Sesión
    </button>
  </form>


  <div class="flex justify-between text-xs mt-2">
    <div class="cursor-pointer" routerLink="/signup">Registrarse</div>
    <div class="cursor-pointer" routerLink="/recovery">¿Olvidaste la Contraseña?</div>
  </div>

</div>

