@tailwind base;
@tailwind components;



.rek-container {
  @apply mx-auto  w-2/4 mt-2  border-2  p-4 flex  flex-col border-oscuro;
}

.rek-container-pdf{
  @apply mx-auto  mt-2  border-2  p-4 flex  flex-col border-0;
}

.rek-container-oscuro{
  @apply bg-oscuro bg-opacity-75 border-oscuro;
}

.btn {
  @apply p-2 mt-5  rounded-md;
}

.btn-naranjete {
  @apply bg-naranjete text-oscurito;
}

.btn-auth {
  @apply border-t-2 border-r-2 border-l-2 rounded-none border-oscuro bg-oscuro;
}

.btn:hover:enabled {
  @apply bg-opacity-75;
}

.btn:hover:disabled {
  @apply cursor-default;
}


/**
form
 */

.form-group {
  @apply mt-3 mb-3;
}

.form-input {
  @apply bg-oscurito p-2 text-naranjete  rounded-lg w-full border border-oscuro;
}


.alert {
  @apply p-2 rounded-lg;
}

.alert-red {
  @apply bg-red border-red w-full;
}

.alert-green {
  @apply bg-green border-green w-full;
}


@tailwind utilities;

body {
  margin: 0;
  background-color: #282828;
  color: #e5e5e5;
  font-family: 'Titillium Web', sans-serif;
}
