<div class="container bg-oscuro bg-opacity-75 border-oscuro border-2 mx-auto  flex  flex-col  m-2 p-8  w-2/4
  sm:min-w-full md:min-w-full xl:min-w-0 lg:min-w-0 min-w-full">

  <h2 class="text-center text-lg font-extrabold">Recuperar Contraseña</h2>




  <div class="form-group">
    <label for="email">Ingresa tu Email</label>
    <input class="form-input" type="text" id="email" formControlName="email"
           placeholder="Ingrese su email"
    >
  </div>

  <button class="btn btn-naranjete">
    Enviar Correo
  </button>
  <span class="text-xs mt-2">Recibirás la contraseña a tu correo electrónico</span>
</div>
